.home-container {
  background: rgb(0, 0, 0);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: white;
  font-size: 10rem;
  white-space: nowrap;
  font-weight: 500;
}
video {
  pointer-events: none;
  /* height: 100%; */
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 0;
}
